<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>728389521419-lshegfa5585qlpie340coag1ecbec6ir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.728389521419-lshegfa5585qlpie340coag1ecbec6ir</string>
	<key>API_KEY</key>
	<string>AIzaSyB6IMRtQKvrTTtfeWtfrIHn9Cj9-a3X7bs</string>
	<key>GCM_SENDER_ID</key>
	<string>728389521419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>homelab.com.School-Data</string>
	<key>PROJECT_ID</key>
	<string>school-data-1efaf</string>
	<key>STORAGE_BUCKET</key>
	<string>school-data-1efaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728389521419:ios:684ff3dee552a7e0d2370e</string>
</dict>
</plist>